---
layout: layouts/base.njk
title: Magyar Szo
lang: sr
slug: ""
permalink: /sr/
---

<h1>Magyar Szo (SR)</h1>
<p>Izaberite stranicu:</p>
<ul>
  <li><a href="{{ '/sr/museum/' | urlWithPrefix }}">Muzej</a></li>
  <li><a href="{{ '/sr/conference/' | urlWithPrefix }}">Konferencijska sala</a></li>
  <li><a href="{{ '/sr/editorial/' | urlWithPrefix }}">Redakcija</a></li>
</ul>
