---
layout: layouts/base.njk
title: Magyar Szo
lang: sr
slug: ""
permalink: /sr/
---

<h1>Magyar Szo (SR)</h1>
<p>Dobrodosli na visejezicni sajt Magyar Szo. Gornji meni je dostupan na svakoj stranici.</p>
