---
layout: layouts/base.njk
title: Magyar Szo
lang: hu
slug: ""
permalink: /hu/
---

<h1>Magyar Szo (HU)</h1>
<p>Valasszon egy oldalt:</p>
<ul>
  <li><a href="{{ '/hu/museum/' | urlWithPrefix }}">Muzeum</a></li>
  <li><a href="{{ '/hu/conference/' | urlWithPrefix }}">Konferenciaterem</a></li>
  <li><a href="{{ '/hu/editorial/' | urlWithPrefix }}">Szerkesztoseg</a></li>
</ul>
