---
layout: layouts/base.njk
title: Magyar Szo
lang: en
slug: ""
permalink: /en/
---

<h1>Magyar Szo (EN)</h1>
<p>Select a section:</p>
<ul>
  <li><a href="{{ '/en/museum/' | urlWithPrefix }}">Museum</a></li>
  <li><a href="{{ '/en/conference/' | urlWithPrefix }}">Conference Room</a></li>
  <li><a href="{{ '/en/editorial/' | urlWithPrefix }}">Editorial</a></li>
</ul>
