---
layout: layouts/base.njk
title: Magyar Szó Székháza
permalink: /
eleventyExcludeFromCollections: true
---

<p>Redirecting to your language page...</p>
<p><a href="{{ '/hu/' | urlWithPrefix }}">Continue to Hungarian</a></p>
